
body
{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 8pt;
	padding: 20px;
	background-color:#fff !important;
}


.codeTextItalic
{
	font-family: Monospace;
	font-style: italic;
}


.sectionSubHeading
{
	background-color: #deecfd;
	color: #05327b;
	padding: 2px 0px 2px 2px;
	margin-bottom: 2px;
}


.sectionContent
{
	margin: 2px 6px 6px 6px;
}
